table {
    table-layout: fixed;
}

#brand-col {
    width: 12em;
    min-width: 12em;
}

#flavor-col {
    width: 16em;
    min-width: 16em;
}

#rating-col {
    width: 8em;
    min-width: 8em;
    max-width: 8em;
}

.clickable {
    user-select: none;
    cursor: pointer;
}

.sort-icon {
    width: 1em;
    height: 1em;
    margin-left: .25em;
}