<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Energy Drinks</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
</head>
<body>
<table class="table table-sm table-responsive table-dark table-striped table-hover">
    <thead>
    <tr>
        {% for column_header in columns_headers %}
            <th>{{ column_header }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for row in energy_drinks %}
        <tr>
            {% for cell in row %}
                <td>{{ cell or '-' }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>